//
// Bootstrap
//
// Import all of Bootstrap's CSS
$icon-font-path: "/assets/vendor/bootstrap-sass/assets/fonts/bootstrap/";
@import "assets/vendor/bootstrap-sass/assets/stylesheets/bootstrap";
//
// bootstrap-select
//
@import "bootstrap-select/sass/bootstrap-select";
//
// bootstrap-switch
//
@import "bootstrap-switch/dist/css/bootstrap3/bootstrap-switch";



//
// Custom styles
//

body {
  padding: 3rem 1.5rem;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
