# IDE configs
.vscode
**/__pycache__
.idea/workspace.xml

# Files used for testing
dev_environment/**
tests/support_/videos/*
tests/tmp/*
tests/.vstats_file
/temp
/tmp

# Files needed for development only
venv/**

# Files created during the build process
.eggs/**
build/**
dist/**
unmanic.egg-info/**
