include README.md
include LICENSE
include logo.png
include requirements.txt

recursive-include unmanic *
global-exclude *.py[cod]

# Frontend development files
recursive-exclude unmanic/webserver/frontend **/*.git*
recursive-exclude unmanic/webserver/frontend **/dist/**
recursive-exclude unmanic/webserver/frontend **/node_modules/**
recursive-exclude unmanic/webserver/frontend **/.quasar/**
# Cordova related directories and files
recursive-exclude unmanic/webserver/frontend **/src-cordova/node_modules/**
recursive-exclude unmanic/webserver/frontend **/src-cordova/platforms/**
recursive-exclude unmanic/webserver/frontend **/src-cordova/plugins/**
recursive-exclude unmanic/webserver/frontend **/src-cordova/www/**
# Capacitor related directories and files
recursive-exclude unmanic/webserver/frontend **/src-capacitor/www/**
recursive-exclude unmanic/webserver/frontend **/src-capacitor/node_modules/**
# BEX related directories and files
recursive-exclude unmanic/webserver/frontend **/src-bex/www/**
recursive-exclude unmanic/webserver/frontend **/src-bex/js/core/**
# Log files
recursive-exclude unmanic/webserver/frontend **/npm-debug.log*
recursive-exclude unmanic/webserver/frontend **/yarn-debug.log*
recursive-exclude unmanic/webserver/frontend **/yarn-error.log*
# Editor directories and files
recursive-exclude unmanic/webserver/frontend **/*.suo
recursive-exclude unmanic/webserver/frontend **/*.ntvs*
recursive-exclude unmanic/webserver/frontend **/*.njsproj
recursive-exclude unmanic/webserver/frontend **/*.sln
recursive-exclude unmanic/webserver/frontend **/.idea/**

# Frontend compiled assets
prune unmanic/webserver/public
