# Required
schedule==0.6.0
tornado==6.0.2
marshmallow==3.13.0
peewee>=3.14.4
peewee_migrate==1.6.1
psutil==5.8.0
requests>=2.28.2
requests_toolbelt>=0.9.1
py-cpuinfo>=7.0.0

# Optional requirements
watchdog>=2.1.1

# Required for CLI only
inquirer>=2.7.0

# Required for hosting the API docs
swagger-ui-py
