

    <div class="col-lg-4 col-md-4">
        <h3 class="list-heading">Advanced Options</h3>
        In this section you can fine-tune the FFMPEG commands that will be executed to convert your media files.
        <br>
        This section is intended for people who have read the <a href="http://ffmpeg.org/ffmpeg.html" target="_blank">FFMPEG documentation</a>.
        <br>
        <br>
        <span class="bold">ADDITIONAL COMMANDLINE OPTIONS</span>:
        <br>
        If <span class="sbold">`Enable HW Decoding`</span> is selected, Unmanic will attempt to use hardware acceleration when decoding video.
        <br>
        Hardware acceleration can make transcoding faster, but it can also reduce video quality and compatibility.
        <br>
        <br>
        If <span class="sbold">`Overwrite Additional FFMPEG Options`</span> is not selected, Unmanic will handle all additional FFMPEG commandline options automatically.
        <br>
        Selecting the <span class="sbold">`Overwrite Additional FFMPEG Options`</span> checkbox will give you the option to specify your own custom options..
        <br>
        <br>
        <hr/>
    </div>
    <div class="col-lg-6 col-md-8">
        <!-- BEGIN FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" method="POST">
                    <div class="form-body">

                        <div class="form-group">
                            <div class="note note-info caption">
                                <span class="caption-subject font-dark sbold uppercase">FFMPEG Command Example:</span>
                                <br>
                                <span class="help-inline" id="current_ffmpeg_command">
                                    {{ handler.current_ffmpeg_command() }}
                                </span>
                            </div>
                            <hr/>
                        </div>

                        <div class="additional_ffmpeg_options">
                            <div class="caption">
                                <span class="caption-subject font-dark sbold uppercase">Additional Commandline Options</span>
                                <br>
                                <span class="help-inline">
                                    Append additional options to the FFMPEG command.
                                </span>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Enable HW Decoding</label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <input type="hidden" name="ENABLE_HARDWARE_ACCELERATED_DECODING" id="ENABLE_HARDWARE_ACCELERATED_DECODING"
                                               value="{% if config.ENABLE_HARDWARE_ACCELERATED_DECODING %}true{% end %}">
                                        <label>
                                            <input type="checkbox" id="enable_hardware_accelerated_decoding"
                                                   onchange="toggleEnableHardwareAcceleratedDecoding();"
                                                   {% if config.ENABLE_HARDWARE_ACCELERATED_DECODING %} checked {% end %} />
                                        </label>
                                    </div>
                                    <span class="help-inline">Use hardware acceleration to decode files when available.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Overwrite Additional FFMPEG Options</label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <input type="hidden" name="OVERWRITE_ADDITIONAL_FFMPEG_OPTIONS" id="OVERWRITE_ADDITIONAL_FFMPEG_OPTIONS"
                                               value="{% if config.OVERWRITE_ADDITIONAL_FFMPEG_OPTIONS %}true{% end %}">
                                        <label>
                                            <input type="checkbox" id="overwrite_ffmpeg_options_enabled"
                                                   onchange="showHideFilterGraphSettings();"
                                                   {% if config.OVERWRITE_ADDITIONAL_FFMPEG_OPTIONS %} checked {% end %} />
                                        </label>
                                    </div>
                                    <span class="help-inline">Enable additional FFMPEG command line options.</span>
                                </div>
                            </div>
                            <div class="form-group additional_ffmpeg_options_input {% if not config.OVERWRITE_ADDITIONAL_FFMPEG_OPTIONS %}hidden{% end %}">
                                <label class="col-md-3 control-label">Custom FFMPEG Options</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" name="ADDITIONAL_FFMPEG_OPTIONS" rows="4">
                                        {{ config.ADDITIONAL_FFMPEG_OPTIONS }}
                                    </textarea>
                                    <br>
                                    <div class="note note-warning note-bordered">
                                        <h4>Warning:</h4>
                                        <p>
                                            Modifying any <span class="sbold">`Container`</span>,
                                            <span class="sbold">`Video Encoding`</span> or
                                            <span class="sbold">`Audio Encoding`</span> settings in the other tabs may reset
                                            these custom FFMPEG options.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FORM PORTLET-->
    </div>
