
<div class="table-scrollable">
    <table class="table table-striped table-hover" style="table-layout: fixed;">
        <tbody>
        <!--TODO: Set to py enumerate function and remove item id-->
        {% for historical_item in data['historical_item_list'] %}
            {% if not 'id' in historical_item %}
                <!-- Legacy item, ignore it -->
                <!-- TODO: Remove this once it is no longer required -->
                {% continue %}
            {% end %}
            {% if historical_item['success'] %}
                {% set completed_status = 'success' %}
            {% else %}
                {% set completed_status = 'failure' %}
            {% end %}
            <tr class="completed_task completed_task_{{ completed_status }} completed_task_jobid_{{ historical_item['id'] }}"
                    {% if historical_item['selected'] %}
                        style="background: rgba(197, 185, 107, 0.2) none repeat scroll 0% 0%;"
                    {% end %}>
                <td style="width: 5%;">
                <div class="md-checkbox has-info">
                        <input type="checkbox" id="checkbox_{{ historical_item['id'] }}" class="md-check">
                        <label for="checkbox_{{ historical_item['id'] }}">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                        </label>
                    </div>
                </td>
                <td style="max-width: 80%;overflow: hidden;">
                    <span title="{{ historical_item['task_label'] }}">{{ historical_item['task_label'] }}</span>
                </td>
                <td>
                    {% if 'success' in historical_item and historical_item['success'] %}
                    <span class="label label-sm label-success"> Success </span>
                    {% else %}
                    <span class="label label-sm label-danger"> Blocked </span>
                    {%end%}
                </td>
                <td>
                    <a href="javascript:; viewConversionDetails('{{ historical_item['id'] }}');" class="btn blue m-icon-big"> View details
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </td>
            </tr>
        {% end %}
        </tbody>
    </table>
</div>
