
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet solid default">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-file-o"></i> File container
                </div>
            </div>
            <div class="portlet-body">
                <!--TODO: Perhaps it is better for this to be formatted in a table-->
                <span class="font-dark sbold uppercase">Format:</span> {{ file_data['format_long_name'] }}
                <br>
                <span class="font-dark sbold uppercase">Filename:</span> {{ file_data['basename'] }}
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN Portlet PORTLET-->
                        <div class="portlet box green-sharp">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-file-video-o"></i> Video Streams
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    {% for stream in file_data['historictaskprobestreams_set'] %}
                                        {% if stream['codec_type'] == 'video' %}
                                            <div class="col-md-6">
                                                <!-- BEGIN Portlet PORTLET-->
                                                <div class="portlet solid default">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <h4 class="font-dark sbold uppercase">{{ stream['codec_long_name'] }}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        {% if 'avg_frame_rate' in stream %}
                                                            <span class="font-dark sbold uppercase">Frame Rate:</span> {{ stream['avg_frame_rate'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'bit_rate' in stream %}
                                                            <span class="font-dark sbold uppercase">Bit Rate:</span> {{ stream['bit_rate'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'coded_height' in stream %}
                                                            <span class="font-dark sbold uppercase">Coded Height:</span> {{ stream['coded_height'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'coded_width' in stream %}
                                                            <span class="font-dark sbold uppercase">Coded Width:</span> {{ stream['coded_width'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'height' in stream %}
                                                            <span class="font-dark sbold uppercase">Height:</span> {{ stream['height'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'width' in stream %}
                                                            <span class="font-dark sbold uppercase">Width:</span> {{ stream['width'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'duration' in stream %}
                                                            <span class="font-dark sbold uppercase">Duration:</span> {{ stream['duration'] }} seconds
                                                            <br>
                                                        {% end %}
                                                    </div>
                                                </div>
                                                <!-- END Portlet PORTLET-->
                                            </div>
                                        {% end %}
                                    {% end %}
                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                    </div>
                    <div class="col-md-12">
                        <!-- BEGIN Portlet PORTLET-->
                        <div class="portlet box blue-sharp">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-file-audio-o"></i> Audio Streams
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    {% for stream in file_data['historictaskprobestreams_set'] %}
                                        {% if stream['codec_type'] == 'audio' %}
                                            <div class="col-md-6">
                                                <!-- BEGIN Portlet PORTLET-->
                                                <div class="portlet solid default">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <h4 class="font-dark sbold uppercase">{{ stream['codec_long_name'] }}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        {% if 'channels' in stream %}
                                                            <span class="font-dark sbold uppercase">Channels:</span> {{ stream['channels'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'channel_layout' in stream %}
                                                            <span class="font-dark sbold uppercase">Channel Layout:</span> {{ stream['channel_layout'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'bit_rate' in stream %}
                                                            <span class="font-dark sbold uppercase">Bit Rate:</span> {{ stream['bit_rate'] }}
                                                            <br>
                                                        {% end %}
                                                        {% if 'duration' in stream %}
                                                            <span class="font-dark sbold uppercase">Duration:</span> {{ stream['duration'] }} seconds
                                                            <br>
                                                        {% end %}
                                                    </div>
                                                </div>
                                                <!-- END Portlet PORTLET-->
                                            </div>
                                        {% end %}
                                    {% end %}
                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                    </div>
                    <!--TODO: Add support for subtitle streams-->
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>
