

    <div class="col-md-4 ">
        <h3 class="list-heading">Audio Encoding</h3>
        Some audio options (Will fill in more text later on)
    </div>
    <div class="col-md-6 ">
        <!-- BEGIN FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" method="POST">
                    <div class="form-body">

                        {# Enable/Disable settings on this screen #}
                        <div class="form-group">
                            <label class="col-md-3 control-label">Enable Audio Encoding</label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <input type="hidden" name="ENABLE_AUDIO_ENCODING" id="ENABLE_AUDIO_ENCODING"
                                           value="{% if config.ENABLE_AUDIO_ENCODING %}true{% end %}">
                                    <label>
                                        <input type="checkbox" id="audio_encoding_enabled"
                                               onchange="toggleEnableAudioEncoding();" {% if config.ENABLE_AUDIO_ENCODING %}
                                               checked {% end %} />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr/>

                        <div class="audio_encoding_settings {% if not config.ENABLE_AUDIO_ENCODING %}hidden{% end %}">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Audio Codec</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="AUDIO_CODEC">
                                        {% for option in config.get_supported_audio_configs() %}
                                        <option value="{{ escape(option) }}" {% if option == config.AUDIO_CODEC %}
                                                selected {% end %}>
                                            {{ escape(config.SUPPORTED_CODECS[option]['codec_long_name']) }}
                                        </option>
                                        {% end %}
                                    </select>
                                    <span class="help-inline"> Select the output audio codec </span>
                                </div>
                            </div>
                            <hr/>

                            <div class="caption">
                                <span class="caption-subject font-dark sbold uppercase">Add a stereo stream</span>
                                <br>
                                <span class="help-inline">
                                By default a stereo stream is added if the original stream is more than 2 channels.
                                You can set the bitrate of this stream below.
                                If the source file already has a stereo stream, this is ignored.
                                (This configuration will likely be altered in future to give you full control of additional streams that are added)
                            </span>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Bitrate</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="AUDIO_STEREO_STREAM_BITRATE">
                                        {% for option in ['128k','160k','192k','256k','320k'] %}
                                        <option value="{{ escape(option) }}" {% if option == config.AUDIO_STEREO_STREAM_BITRATE %}
                                                selected {% end %}>
                                            {{ escape(option) }}
                                        </option>
                                        {% end %}
                                    </select>
                                    <span class="help-inline"> Select the bitrate for your stereo stream </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FORM PORTLET-->
    </div>
