
{% extends "page_layout.html" %}
{% block title %}Settings{% end %}
{% block page %}settings{% end %}

{% block scripts %}
<script type="text/javascript" >
    var toggleRunScanOnStart = function() {
        if ($("#run_scan_on_start_enabled").prop("checked")) {
            $("#RUN_FULL_SCAN_ON_START").val("true");
        } else {
            $("#RUN_FULL_SCAN_ON_START").val("false");
        }
    }
    var toggleInotify = function() {
        if ($("#inotify_enabled").prop("checked")) {
            $("#ENABLE_INOTIFY").val("true");
        } else {
            $("#ENABLE_INOTIFY").val("false");
        }
    }
    var toggleDebugging = function() {
        if ($("#debugging_enabled").prop("checked")) {
            $("#DEBUGGING").val("true");
        } else {
            $("#DEBUGGING").val("false");
        }
    }
    var toggleStripSubtitles = function() {
        if ($("#remove_subtitles_enabled").prop("checked")) {
            $("#REMOVE_SUBTITLE_STREAMS").val("true");
        } else {
            $("#REMOVE_SUBTITLE_STREAMS").val("false");
        }
    }
</script>
{% end %}


{% block content %}
    <div class="row">
        {% if 'general' in handler.step %}
            {% include "settings-general.html" %}
            {#{% include "settings-form.html" %}#}
        {% elif 'container' in handler.step %}
            {% include "settings-container.html" %}
        {% elif 'video' in handler.step %}
            {% include "settings-video.html" %}
        {% elif 'audio' in handler.step %}
            {% include "settings-audio.html" %}
        {% end %}
    </div>
{% end %}
