

    <div class="col-md-4 ">
        <h3 class="list-heading">Video Encoding</h3>
        Some video options (Will fill in more text later on)
    </div>
    <div class="col-md-6 ">
        <!-- BEGIN FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" method="POST">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Video Codec</label>
                            <div class="col-md-9">
                                <select class="form-control" name="VIDEO_CODEC">
                                    {% for option in config.get_supported_video_configs() %}
                                        <option value="{{ escape(option) }}" {% if option == config.VIDEO_CODEC %} selected {% end %}>
                                            {{ escape(config.SUPPORTED_CODECS[option]['codec_long_name']) }}
                                        </option>
                                    {% end %}
                                </select>
                                <span class="help-inline"> Select the output video codec </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FORM PORTLET-->
    </div>