

    <div class="col-md-4 ">
        <h3 class="list-heading">Video Encoding</h3>
        Some video options (Will fill in more text later on)
    </div>
    <div class="col-md-6 ">
        <!-- BEGIN FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" method="POST">
                    <div class="form-body">

                        {# Enable/Disable settings on this screen #}
                        <div class="form-group">
                            <label class="col-md-3 control-label">Enable Video Encoding</label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <input type="hidden" name="ENABLE_VIDEO_ENCODING" id="ENABLE_VIDEO_ENCODING"
                                           value="{% if config.ENABLE_VIDEO_ENCODING %}true{% end %}">
                                    <label>
                                        <input type="checkbox" id="video_encoding_enabled"
                                               onchange="toggleEnableVideoEncoding();" {% if config.ENABLE_VIDEO_ENCODING %}
                                               checked {% end %} />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr/>

                        <div class="video_encoding_settings {% if not config.ENABLE_VIDEO_ENCODING %}hidden{% end %}">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Video Codec</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="VIDEO_CODEC">
                                        {% set supported_video_configs = config.get_supported_video_codecs() %}
                                        {% for option in supported_video_configs %}
                                        <option value="{{ escape(option) }}" {% if option == config.VIDEO_CODEC %}
                                                selected {% end %}>
                                            {{ escape(supported_video_configs[option]['description']) }}
                                        </option>
                                        {% end %}
                                    </select>
                                    <span class="help-inline"> Select the output video codec </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FORM PORTLET-->
    </div>