<ul class="feeds">

    {{#each list_items}}
        {{#with this}}
            <li>
                <div class="col1">
                    <div class="cont">
                        <div class="cont-col1">
                            {{#if task_success}}
                                <div class="label label-sm label-info">
                                    <i class="fa fa-check"></i>
                                </div>
                            {{else}}
                                <div class="label label-sm label-danger">
                                    <i class="fa fa-times"></i>
                                </div>
                            {{/if}}
                        </div>
                        <div class="cont-col2">
                            <div class="desc">
                                {{task_label}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <div class="date">
                        {{human_readable_time}}
                    </div>
                </div>
            </li>
        {{/with}}
    {{/each}}

</ul>
