<div>
    <!--<div class="portlet light">
        <div class="portlet-title tabbable-line">
            <div class="caption font-green-sharp">
                <i class="fa fa-info"></i>
                <span class="caption-subject bold uppercase"> Worker Runners</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
            <ul class="nav nav-tabs" id="worker-runners-info-tabs">
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content" id="worker-runners-info">
            </div>
        </div>
    </div>-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="fa fa-file-text-o"></i>
                <span class="caption-subject bold uppercase"> FFMPEG Log</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div><pre class="worker-ffmpeg-log"></pre></div>
        </div>
    </div>
</div>
