<div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="fa fa-file-text-o"></i>
                <span class="caption-subject bold uppercase"> FFMPEG Log</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div>
                <pre class="worker-ffmpeg-log"></pre>
            </div>
        </div>
    </div>
</div>
