/* here you can put your own css to customize and override the theme */

.no-border {
    border: 0 !important;
}

.unmanic-file-browser-list-item-folder {
    cursor: pointer;
}

.unmanic-file-browser-list-item-folder a {
    display: block;
    text-decoration: none;
}

.unmanic-file-browser-list-item-folder:hover .icon-folder,
.unmanic-file-browser-list-item-folder .icon-folder-alt {
    display: none;
}

.unmanic-file-browser-list-item-folder:hover .icon-folder-alt {
    display: inline;
}

.historic-list-row label > span {
    left: 15px;
    top: 7px;
}

.historic-list-row label > .check {
    top: 1px;
    left: 22px;
}

.historic-list-row label > .box {
    top: 6px;
}

@media (max-width: 767px) {
    /* 767px */
    .portlet > .completed-tasks > .actions {
        float: left;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    /* 768px */
    .portlet > .completed-tasks > .actions {
        float: left;
        margin-left: 10px;
        display: inline-block;
        padding: 6px 0;
    }
}

.table-group-actions > span {
    margin-left: 10px;
}

.table-group-actions > .table-group-action-input {
    margin-left: 10px;
    margin-right: 10px;
}

.table-group-actions > .table-group-action-submit {
    margin-left: 10px;
    margin-right: 10px;
}

tr.child > td.child {
    text-align: left;
}

img.support-btn-img {
    display: initial !important;
    vertical-align: middle;
    height: 22px !important;
    width: 22px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: none;
    margin-top: 0;
    margin-right: 5px !important;
    margin-left: 0 !important;
    margin-bottom: 3px !important;
    content: url('/assets/global/img/coffee-btn-image.png')
}

.support-btn-img:after {
    vertical-align: middle;
    height: 25px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    margin-top: 0;
    margin-right: 6px;
    margin-left: 0;
    margin-bottom: 4px !important;
}

.support-btn-container {
    display: inline-block !important;
    white-space: nowrap;
    min-width: 160px
}

span.support-btn-text {
    color: #fff !important;
    letter-spacing: -0.15px !important;
    text-wrap: none;
    vertical-align: middle;
    line-height: 33px !important;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}

.support-btn-text a {
    color: #fff !important;
    text-decoration: none !important;
}

.support-btn-text a:hover {
    color: #fff !important;
    text-decoration: none
}

a.support-btn {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    line-height: 36px !important;
    min-width: 150px;
    display: inline-block !important;
    background-color: #29abe0;
    padding: 2px 12px !important;
    text-align: center !important;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    overflow-wrap: break-word;
    vertical-align: middle;
    border: 0 none #fff !important;
    font-family: 'Quicksand', Helvetica, Century Gothic, sans-serif !important;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700 !important;
    font-size: 14px !important
}

a.support-btn:visited {
    color: #fff !important;
    text-decoration: none !important
}

a.support-btn:hover {
    opacity: .85;
    color: #f5f5f5 !important;
    text-decoration: none !important
}

a.support-btn:active {
    color: #f5f5f5 !important;
    text-decoration: none !important
}

.support-btn-text img.support-btn-img {
    height: 22px !important;
    width: 22px !important;
    display: initial;
    animation: coffee-wiggle 3s infinite;
}

@keyframes coffee-wiggle {
    0% {
        transform: rotate(0) scale(1)
    }
    2%, 6%, 10%, 14%, 18% {
        transform: translate3d(-2px, 0, 0);
    }
    4%, 8%, 12%, 16% {
        transform: translate3d(2px, 0, 0);
    }
    20% {
        transform: translate3d(0px, 0, 0);
    }
    60% {
        transform: rotate(0) scale(1);
    }
    75% {
        transform: rotate(0) scale(1.12);
    }
    80% {
        transform: rotate(0) scale(1.1);
    }
    84% {
        transform: rotate(-10deg) scale(1.3);
    }
    88% {
        transform: rotate(10deg) scale(1.3);
    }
    92% {
        transform: rotate(-10deg) scale(1.3);
    }
    96% {
        transform: rotate(10deg) scale(1.3);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

.support-head {
    display: block;
    background-color: #323d4b;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    color: #4db3a5;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    -o-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}

.modal-xl {
    width: 98%;
}

@media (min-width: 992px) {
    .modal-xl {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        width: 1100px;
    }
}

