<table class="table table-striped table-bordered table-hover table-checkable order-column" id="history_completed_tasks_table">
    <thead>
    <tr>
        <th class="table-checkbox">
            <input type="checkbox" id="checkbox_header" class="md-check group-checkable" data-set="#history_completed_tasks_table .checkboxes"/>
        </th>
        <th>Completed</th>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        {# Content dynamically generated via the datatable library #}
    </tbody>
</table>

