{# Display Success #}
{% if job_data['statistics']['task_success'] %}
{% set portlet_colour = 'green-soft' %}
{% else %}
{% set portlet_colour = 'red-sunglo' %}
{% end %}

{# Conversion Process #}
{% if 'start_time' in job_data['statistics'] %}
    {% set start_time = job_data['statistics']['start_time'] %}
{% else %}
    {% set start_time = False %}
{% end %}
{% if 'finish_time' in job_data['statistics'] %}
    {% set finish_time = job_data['statistics']['finish_time'] %}
{% else %}
    {% set finish_time = False %}
{% end %}
{% if 'start_datetime' in job_data['statistics'] %}
    {% set start_datetime = job_data['statistics']['start_datetime'] %}
{% else %}
    {% set start_datetime = False %}
{% end %}
{% if 'finish_datetime' in job_data['statistics'] %}
    {% set finish_datetime = job_data['statistics']['finish_datetime'] %}
{% else %}
    {% set finish_datetime = False %}
{% end %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box {{ portlet_colour }}">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-clock-o"></i> Conversion Process
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6" style="border-right: thin solid grey">
                        {% if start_time %}
                            <div class="row">
                                <div class="col-md-5">
                                    <span class="font-dark sbold uppercase">Start Time:</span>
                                </div>
                                <div class="col-md-7">
                                    {{ start_datetime }}
                                </div>
                            </div>
                        {% end %}
                        {% if finish_time %}
                            <div class="row">
                                <div class="col-md-5">
                                    <span class="font-dark sbold uppercase">Finish Time:</span>
                                </div>
                                <div class="col-md-7">
                                    {{ finish_datetime }}
                                </div>
                            </div>
                        {% end %}
                        {% if 'duration' in job_data['statistics'] %}
                            <div class="row">
                                <div class="col-md-5">
                                    <span class="font-dark sbold uppercase">Task Duration:</span>
                                </div>
                                <div class="col-md-7">
                                    {{ job_data['statistics']['duration'] }}
                                </div>
                            </div>
                        {% end %}
                    </div>
                    <div class="col-md-6">
                        {# TODO: Imporve on audio and video encoder information (perhaps add images?) #}
                        {% if 'video_encoder' in job_data['statistics'] %}
                            <div class="row">
                                <div class="col-md-5">
                                    <span class="font-dark sbold uppercase">Video Encoder:</span>
                                </div>
                                <div class="col-md-7">
                                    {{ job_data['statistics']['video_encoder'] }}
                                </div>
                            </div>
                        {% end %}
                        {% if 'audio_encoder' in job_data['statistics'] %}
                            <div class="row">
                                <div class="col-md-5">
                                    <span class="font-dark sbold uppercase">Audio Encoder:</span>
                                </div>
                                <div class="col-md-7">
                                    {{ job_data['statistics']['audio_encoder'] }}
                                </div>
                            </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# File Size Comparison #}
{% if job_data['statistics']['task_success'] %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box {{ portlet_colour }} portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart"></i> File Size Comparison
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="file_size_chart" style="height:300px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var green = '#3faba4';
    var red = '#d05454';

    {# Set the source and destination size variables #}
    {% if 'source_file_size' in job_data['statistics'] %}
        var source_file_size = {{ job_data['statistics']['source_file_size'] }};
    {% else %}
        var source_file_size = 0;
    {% end %}
    {% if 'destination_file_size' in job_data['statistics'] %}
        var destination_file_size = {{ job_data['statistics']['destination_file_size'] }};
    {% else %}
        var destination_file_size = 0;
    {% end %}

    // If the destination file size is greater than the source, then mark it red, otherwise green
    var reduced = true;
    var destination_bar_colour = green;
    var percent_changed = 100 - (destination_file_size / source_file_size * 100);
    if (destination_file_size >= source_file_size) {
        var reduced = false;
        var destination_bar_colour = red;
        var percent_changed = 100 - (source_file_size / destination_file_size * 100);
    }

    $('#file_size_chart').highcharts({
        chart: {
            type: 'bar',
            width: null
        },
        colors: ['#555555', destination_bar_colour],
        title: {
            text: Highcharts.numberFormat(percent_changed, 2) + '% ' + ((reduced) ? 'decrease' : 'increase') + ' in file size'
        },
        subtitle: {
            text: null
        },

        xAxis: {
            categories: ['Original', 'New']
        },
        yAxis: {
            title: {
                text: null
            },
            labels: {
                formatter: function () {
                    return formatBytes(Math.abs(this.value));
                }
            }
        },

        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    'File Size: ' + formatBytes(Math.abs(this.point.y));
            }
        },

        series: [{
            name: 'Original',
            data: [source_file_size, 0]
        },{
            name: 'New',
            data: [0, destination_file_size]
        }],
    });
</script>
{% end %}

{# FFMPEG Command Log #}
{% if 'ffmpeg_log' in job_data %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box {{ portlet_colour }}">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil-square-o"></i> FFMPEG Command Log
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="file_size_chart">
                    {% if job_data['ffmpeg_log'] %}
                    <pre>{{ job_data['ffmpeg_log'] }}</pre>
                    {% else %}
                    <pre>No FFMPEG command log recorded for this task.</pre>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
