
{% if job_data %}
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line nav-justified">
            <div class="caption">
                <i class="fa fa-random"></i>Conversion Details
            </div>
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#portlet_tab_stats" data-toggle="tab"> Statistics </a>
                </li>
                {% if job_data['statistics']['task_success'] %}
                    <li>
                        <a href="#portlet_tab_source" data-toggle="tab"> Original File Info </a>
                    </li>
                    <li>
                        <a href="#portlet_tab_dest" data-toggle="tab"> New File Info </a>
                    </li>
                {% end %}
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_tab_stats">
                    <!--Dest-->
                    {% include "history-conversion-details-stats.html" %}
                </div>
                {% if job_data['statistics']['task_success'] %}
                    <div class="tab-pane" id="portlet_tab_source">
                        <!--Source-->
                        {% set file_data = job_data['source'] %}
                        {% include "history-conversion-details-video-data.html" %}
                    </div>
                    <div class="tab-pane" id="portlet_tab_dest">
                        <!--Dest-->
                        {% set file_data = job_data['destination'] %}
                        {% include "history-conversion-details-video-data.html" %}
                    </div>
                {% end %}
            </div>
        </div>
    </div>
{% else %}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-film"></i>Conversion Details
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" style="height:200px">
                <p> No conversion details found for this task. </p>
            </div>
        </div>
    </div>
{% end %}
