<div class="table-container">
    <div class="table-actions-wrapper">
        <span> </span>

        <div class="actions pull-right">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-check-square-o"></i> Options
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;" class="add-to-pending">
                            <i class="fa fa-pencil"></i> Add Selected to Pending Tasks List </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:;" class="delete-from-history">
                            <i class="fa fa-trash-o"></i> Delete Selected </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class="table table-striped table-bordered table-hover table-checkable order-column nowrap"
               id="history_completed_tasks_table">
            <thead>
            <tr>
                <th class="table-checkbox ">
                    <input type="checkbox" id="checkbox_header" class="md-check group-checkable"
                           data-set="#history_completed_tasks_table .checkboxes"/>
                </th>
                <th>Name</th>
                <th>Completed</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {# Content dynamically generated via the datatable library #}
            </tbody>
        </table>

    </div>
</div>
