
<!--TODO: Make this template mobile friendly-->

{% extends "../page_layout.html" %}
{% block title %}History | Unmanic{% end %}
{% block page %}history{% end %}

{% block head %}
{#Emptyness and sadness#}
{% end %}

{% block page_plugin_styles %}
{# START DATATABLES #}
<link rel="stylesheet" type="text/css"
      href="/assets/plugins/datatables/datatables.min.css?version={{ escape(handler.config.read_version()) }}"/>
<link rel="stylesheet" type="text/css"
      href="/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css?version={{ escape(handler.config.read_version()) }}"/>
{# END DATATABLES #}
{% end %}
{% block page_plugins %}
{# START DATATABLES #}
<script type="text/javascript"
        src="/assets/js/datatable.js?version={{ escape(handler.config.read_version()) }}"></script>
<script type="text/javascript"
        src="/assets/plugins/datatables/datatables.min.js?version={{ escape(handler.config.read_version()) }}"></script>
<script type="text/javascript"
        src="/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js?version={{ escape(handler.config.read_version()) }}"></script>
{# END DATATABLES #}
{% end %}

{% block vendor_scripts %}
{# START HIGHCHARTS #}
<script type="text/javascript"
        src="/assets/vendor/highcharts/lib/highcharts.js?version={{ escape(handler.config.read_version()) }}"></script>
<script type="text/javascript"
        src="/assets/vendor/highcharts/lib/highcharts-3d.js?version={{ escape(handler.config.read_version()) }}"></script>
<script type="text/javascript"
        src="/assets/vendor/highcharts/lib/highcharts-more.js?version={{ escape(handler.config.read_version()) }}"></script>
{# END HIGHCHARTS #}
{% end %}

{% block page_theme_scripts %}
{# START PAGE COMPONENTS #}
<script type="text/javascript"
        src="/assets/js/page_components/history/history.js?version={{ escape(handler.config.read_version()) }}"></script>
{# END PAGE COMPONENTS #}
{% end %}

{% block content %}

                    {# Remove filters for now #}
                   {# <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="clearfix">

                                <!--Filter-->
                                <a href="javascript:filterCompletedTasks('all');" class="btn default"> All ({{ data['total_count'] }}) </a>
                                <a href="javascript:filterCompletedTasks('success')" class="btn default"> Success ({{ data['success_count'] }}) </a>
                                <a href="javascript:filterCompletedTasks('failure');" class="btn default"> Failure ({{ data['failed_count'] }}) </a>
                            </div>
                        </div>
                    </div>#}

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title completed-tasks">
                                    <div class="caption">
                                        <i class="fa fa-tasks font-blue"></i>
                                        <span class="caption-subject font-blue bold uppercase">Completed Tasks</span>
                                    </div>
                                </div>

                                <!-- START TASK LIST -->
                                <div class="portlet-body" id="completed_tasks">
                                    {% include "history-completed-tasks-list.html" %}
                                </div>
                                <!-- END TASK LIST -->


                                <!-- START OVERLAY -->
                                <div id="task-history-popup" class="modal fade modal-scroll bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"  data-width="1760">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content" style="background-color: #465568 !important;">

                                            <div class="modal-content scroller" style="height: 100%;" data-always-visible="1"
                                                 data-rail-visible="0">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true"></button>
                                                </div>
                                                <div class="modal-body todo-task-modal-body">


                                                    <!-- START CONVERSION DETAILS -->
                                                    <div class="col-md-12" id="conversion_details"></div>
                                                    <!-- END CONVERSION DETAILS -->

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn default" data-dismiss="modal" aria-hidden="true">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END OVERLAY -->

                            </div>

                        </div>

                    </div>

{% end %}
