<!--

To use include:
<script src="/assets/pages/scripts/file-browser.js" type="text/javascript"></script>
And add to bottom of page:
<div id="unmanic-filebrowser-popup" class="modal fade" tabindex="-1"></div>

-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            <div class="mt-element-list" id="unmanic-file-browser-content">
                <input type="hidden" name="unmanic-file-browser-list-type"
                       value="{{ list_type }}">
                <input type="hidden" name="unmanic-file-browser-original-input-field"
                       value="{{ input_field }}">
                <div class="mt-list-head list-simple font-white">
                    <input type="text" class="form-control input-inline input-xlarge"
                           id="unmanic-file-browser-current-path"
                           name="unmanic-file-browser-current-path"
                           value="{{ current_path }}">
                </div>
                <div class="mt-list-container list-simple" id="unmanic-file-browser-list-items">
                         <!--Contents in here will be overwritten by calls to updateFileBrowser-->
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default dark">
                Close
            </button>
            <button type="button" data-dismiss="modal" class="btn green" onclick="$(this).updateInputFromFileBrowser();">
                Select
            </button>
        </div>
    </div>
</div>
