<ul>
    {{#each directories}}
        {{#with this}}

            <!-- Directories -->
            <li class="mt-list-item unmanic-file-browser-list-item-folder"
                onclick="$(this).updateFileBrowser('{{ escape_quotes full_path }}');">
                <div class="list-icon-container done">
                    <i class="icon-folder"></i>
                    <i class="icon-folder-alt"></i>
                </div>
                <div class="list-item-content">
                    <h3>
                        <a href="javascript:;">
                            {{ name }}
                        </a>
                    </h3>
                </div>
            </li>

        {{/with}}
    {{/each}}
    {{#each files}}
        {{#with this}}

            <!-- Files -->
            <li class="mt-list-item unmanic-file-browser-list-item-file"
                onclick="$(this).updateFileBrowser('{{ escape_quotes full_path }}');">
                <div class="list-icon-container done">
                    <i class="icon-doc"></i>
                </div>
                <div class="list-item-content">
                    <h3>
                        <a href="javascript:;">
                            {{ name }}
                        </a>
                    </h3>
                </div>
            </li>

        {{/with}}
    {{/each}}
</ul>
