
    <label class="col-md-3 control-label">Video Encoder</label>
    <div class="col-md-9">
        <select class="form-control" name="VIDEO_STREAM_ENCODER">
            {% set supported_video_codecs = config.get_supported_video_codecs() %}
            {% for video_codec_options in supported_video_codecs %}
                {% if video_codec_options == config.VIDEO_CODEC %}
                    {% for encoder_option in supported_video_codecs[video_codec_options]['encoders'] %}
                        <option value="{{ escape(encoder_option) }}" {% if encoder_option == config.VIDEO_STREAM_ENCODER %}
                                selected {% end %}>
                            {{ escape(encoder_option) }}
                        </option>
                    {% end %}
                {% end %}
            {% end %}
        </select>
        <span class="help-inline"> Select the video encoder </span>
    </div>
