<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-tasks font-yellow"></i>
        <span class="caption-subject font-yellow bold uppercase">Pending Tasks</span>
    </div>
    <div class="actions">
        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" data-original-title="" title=""
           id="pending-tasks-fullscreen"><i class="fa fa-expand"></i></a>
    </div>
</div>
<div class="portlet-body">
    <div class="table-container">
        <div class="table-actions-wrapper">
            <span> </span>

            <div class="actions pull-right">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown">
                        <i class="fa fa-check-square-o"></i> Options
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;" class="rescan-library">
                                <i class="fa fa-search"></i> Rescan Library Now </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;" class="move-to-top-of-task-list">
                                <i class="fa fa-angle-double-up"></i> Move Selected to Top </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="move-to-bottom-of-task-list">
                                <i class="fa fa-angle-double-down"></i> Move Selected to Bottom </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="remove-from-task-list">
                                <i class="fa fa-trash-o"></i> Remove Selected </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover dt-responsive table-checkable hide-checkboxes"
               width="100%" id="pending_tasks_table">
            <thead>
            <tr>
                <th class="table-checkbox ">
                    <input type="checkbox" id="checkbox_header" class="md-check group-checkable"
                           data-set="#pending_tasks_table .checkboxes"/>
                </th>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <!-- ERROR Generating table content. -->
            </tbody>
        </table>
    </div>
</div>
